#version: "3.9"

services:
  viniciusguedes:
    image: nginx:alpine
    container_name: viniciusguedes
    restart: unless-stopped
    networks:
      - web
    volumes:
      - ./site:/opt/apps/viniciusguedes/site:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vinicius.rule=Host(`viniciusguedes.cloud`) || Host(`www.viniciusguedes.cloud`)"
      - "traefik.http.routers.vinicius.entrypoints=websecure"
      - "traefik.http.routers.vinicius.tls.certresolver=letsencrypt"
networks:
  web:
    external: true